<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joi.school.fitness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.joi.school.fitness.BmobContentProvider" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forum.newpost.NewPostActivity"
            android:label="@string/title_new_post" />
        <activity android:name=".sign.SignUpActivity" />
        <activity android:name=".sign.SignInActivity" />
        <activity android:name=".forum.postdetail.PostActivity"
            android:label="@string/title_post"/>
        <activity android:name=".core.sport.SportRecommendActivity" />
        <activity android:name=".core.assessment.AssessmentActivity" />
        <activity android:name=".core.meal.MealRecommendActivity" />
        <activity android:name=".mine.body.SetPhysicalStatisticActivity"
            android:label="@string/title_set_physical_statistic"/>
        <activity android:name=".user.UserProfileActivity" />
        <activity android:name=".mine.setinfo.SetMyInformationActivity"
            android:label="@string/title_set_my_information"/>
    </application>

</manifest>